*{
    margin: 0;
    padding: 0;

}
html, body{
    height:100%;
    background: rgb(15, 15, 15);
}

.container {
    padding: 0.5rem;
    height: 100%;
    max-width: 99%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: auto;
    
}

.logo-container {
    display: flex;
    align-items: center;
    background: rgb(50, 50, 50);
    border-radius: 5px;

}
#logo{
    width: 45px;
    height:45px;
    margin-left: 0.5rem;
}
.logo-text {
    display: flex;
    font-size: 15px;
    color: white;
    padding : 0.8rem
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height:100%;
    width: 100%;


}

.upper-body-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    flex:5;
}

.view2d-container{
    
    width:55%;
    margin-right: 10px;
    border-radius: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.view2d-container-bar {
    background: rgb(50, 50, 50);
    padding : 0.5rem ;
    margin: 0rem;
    flex: 0.2;
    border-radius: 5px;
}

.view2d-container-bar p{
    font-size: 15px;
    font-weight: 500;
    color: white;
}
.view2d-imgbox {
    background-color: rgb(35, 35, 35);
    flex: 9.8;
    display:flex;
    justify-content: center;
    align-items: center;
    padding :0.3rem;
    margin-top: 3px;
    border-radius: 5px;
}

.view2d-imgbox img {
    width: 70%;
    height: auto;

    margin: auto;


}


.status-container {
    background-color: rgb(131, 226, 43);
    width:27% ;
    margin-right: 10px;
    border-radius: 15px;

}
.projector-control{
    
    width:28% ;
    border-radius: 15px;
    height:100%
}

.projector-control-bar {
    background: rgb(50, 50, 50);
    padding : 0.5rem ;
    margin: 0rem;
    flex: 0.2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projector-control-bar p {
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.master-button {
    
}
.projector-control-body {
    background: rgb(35, 35, 35);
    display: flex;
    flex-direction: column;
    
    max-height: 700px;
   
    
}

.projector-box {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    margin-top: 10px;
    background: rgb(30, 30, 30);
    align-items: center;
    padding: .5rem;
    
    

}
.projector-box img {
    width: 15%;
    min-width: 35px;
    height: auto;
    padding: 0.2rem;
    margin-right: 15px;
    
}

.projector-box .data-sheet {
    margin: 0.1rem;
}


.middle-body-container {
    display: flex;
    flex-direction: column;
    background-color: green;
    margin-top: 10px;
    flex: 3;
    border-radius: 15px;

}

.bottom-body-container {
    margin-top: 10px;
    background-color: pink;
    flex: 3;
    border-radius: 15px;
}

